@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Prompt', sans-serif;
}

body {
    width: 100%;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 2.5rem;
    text-decoration-line: underline;
}

h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

#game {
    border: 1rem solid black;
    width: 60%;
    height: 60rem;
    margin: 4rem auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#player_one, #player_two {
    border: 0.3rem solid black;
    border-radius: 2rem;
    width: 40%;
    height: 60%;
    margin-top: 2rem;
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#choices {
    width: 10%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

button {
    width: 10rem;
    border-radius: 2rem;
    padding: 0.5rem;
    box-shadow: 0 0.2rem 1rem 0.5rem;
    cursor: pointer;
}

.choice {
    border: 0.1rem solid black;
    width: 60%;
    height: 70%;
    border-radius: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 15rem;
}

#result {
    border: 0.1rem solid black;
    width: 80%;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p {
    font-size: 1.5rem;
    font-weight: bold;
}

#bloc_won {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bloc_won > p {
    border: 0.1rem solid black;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 3.5rem;
}
#round {
    width: 50%;
}

#round > #score_round {
    text-align: center;
    font-size: 2.5rem;
}

#restart {
    margin-top: 5rem;
}

